*{
    box-sizing: border-box;
}

body{
    line-height: 1;
    direction: rtl;
    text-align:right;
    margin: 0;
    padding: 0;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;

}

div.containerhead{
    width: 900px;
    margin: 0 auto;
    position:relative;
}

header{
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    /* background: #fff url("images/images/header_bg.png") repeat-x center top; */
    /* padding-/top: 50px; */
    width: 100%;
    height: 150px;
}

/* li.logo{
    position: relative;
    padding-left: 50px;
    bottom: -50px;
    top: 40;
    right: 0;
} */

div.input{
    position: absolute;
    top: 20px;
    left: 5px;
    /* background: transparent; */
}

ul>li.dropdown{
    list-style: none;
}

li.sep{
    width: 4px;
    height: 21px;
    margin: 0 2px;
}
/* li>a{
    font-size:12px;
    font-weight: bold;
    display:inline-block;
} */
nav.headerNav{
    position:absolute;
    /* width: 100%; */
    /* background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9); */
}
ul{
    padding: 0;
}


nav>ul>li{
    /* position: relative; */
    margin-top: 30px;
    display: inline-block;
    /* display: block; */
}
nav>ul>li>a, .dropdown-content > a{
    font-size:12px;
    font-weight:bold;
    color:white;
    /* background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9); */
    text-decoration: none;
    /* padding: 10px; */
    display: block;
}
.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    position: absolute;
    /* right: %; */
    width: max-content;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}
.dropdown:hover > .dropdown-content {
    display: block;
}
a:hover{
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    text-decoration: underline;
    color: #005CA0;
    font-weight: bold;
}


.container {
    width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    align-content: center;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    height:355px;
    justify-content: center;
}
   
.col1, .col2, .col3 {
    /* position: relative; */
    flex: 33%;
    justify-items: space-around;
}
  
.writingOnImg{
    position:relative;
    font-size:xx-small;
    right: 10px;
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 5px;
    left: 38px;
    bottom:100px;
    color: #fff;
    background: url("images/images/hp_tab_text_bg.png") no-repeat 0 0;
}

.writingOnImg>.readWhite{
    align-items: flex-end;
}

img.overlay { 
    width: 291px;
    height: 354px;
}
img.smOverlay{
    width: 250px;
    height: 110px;
}

.row2 {
    /* margin-left:300px;
    margin-right: 300px; */
    display: flex;
    flex-wrap: wrap;
    height: 216px;;
    /* width: 900px; */
    /* justify-content: space-around; */

}

.col4, .col5, .col6 {
    position: relative;
    width: 33%;
    justify-items: space-around;
    background: url("images/images/small_cube_bg.png") no-repeat 0 0;
}
.col4>h3, .col5>h3, .col6>h3 {
    line-height: 34px;
    font-size: 14px;
    text-align: center;
}
.readYellow{
  /* text-align:left ;  */
  color: #575757;
  margin-top: 18px;
}

footer{
    position: fixed;
    text-align: center;
    /* margin-top: 0;
    padding-top: 0; */
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    width: 100%;
    height: 38px;
    bottom: 0;
}
img.imgFloat{
    float: left;
}
ul.fixPad>li{
    padding:0;
    margin: 0px;
}
/* for the contact page */

div.sidebar{
    width: 122px;
    float:right;
    /* margin-left: 22px; */
    display: block;
    color: #5c5c5c;
    background-image:linear-gradient(#FEFEFE, #FBFBFB, #FFFFFF);
}
