*{
    box-sizing: border-box;
}

body{
    line-height: 1;
    direction: rtl;
    text-align:right;
    margin: 0;
    font-family: Arial;
    /* padding-bottom: 38px; */
}

div.containerhead{
    width: 100%;
    margin: 0 auto;
    position:relative;
}

header{
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    /* background: #fff url("images/images/header_bg.png") repeat-x center top; */
    padding-top: 50px;
    width: 100%;
    height: 105px;
    }

    a.logo{
        position: absolute;
        top: 5;
        right: 0;
    }

div.input{
    position: absolute;
    top: 20px;;
    left:5px;
    background: transparent;
    }

ul, li{
    list-style: none;
}

li.sep{
    width: 4px;
    height: 21px;
    margin: 0 16px;
}
li.a{
    font-size:15px;
    font-weight: bold;
    display:inline-block;
}
nav{
    position:relative;
    width: 100%;
    /* background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9); */
}
/* ul{
    bottom: 0;
} */
ul:first-child{
    padding-right:150px;

}
nav>ul>li{
    display: inline-block;
}
nav>ul>li>a, .dropdown-content > a{
    color:white;
    /* background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9); */
    text-decoration: none;
    padding: 10px;
    display: block;

}
.dropdown {
    position: relative;
  }
  
.dropdown-content {
    display: none;
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    position: absolute;
    /* right: %; */
    width: max-content;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  }
.dropdown:hover > .dropdown-content {
    display: block;
  }
a:hover{
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    text-decoration: underline;
    color: #005CA0 !important;
    font-weight: bolder;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-top: 150px;
    align-content: center;
    }
.row1 {
   
    display: flex;
    flex-wrap: wrap;
    height:355px;
    /* width: 900px; */
    justify-content: cen
  }
  
  
.col1, .col2, .col3 {
    position: relative;
    width: 33%;
    justify-items: space-around;

  }
  /* .col1, .col2{
    position:relative;
} */
  .writingOnImg{
    position:absolute;
    font-size:xx-small;
    right: 0px;
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 10px;
    left: 38px;
    bottom: 6px;
    color: #fff;
    background: url("images/images/hp_tab_text_bg.png") no-repeat 0 0;
}
.writingOnImg>.readWhite{
    align-items: flex-end;
}
img.overlay { 
    width: 291px;
    height: 354px;
}


.row2 {
    margin-left:300px;
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
    height: 216px;;
    /* width: 900px; */
    /* justify-content: space-around; */

  }
  .col4 .col5 .col6 {
    width: calc(900/3);
    justify-items: space-around;

  }
  footer{
    background-image: linear-gradient(#909090,#919191, #939393, #959595, #A9A9A9);
    bottom: 0;
  }
  .col4, .col5, .col6 {
    position: relative;
    width: 33%;
    justify-items: space-around;

  }
